.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.progress-bar > .track {
    -fx-text-box-border: #004cff;
    -fx-control-inner-background: white;
}

.scroll-pane {
    -fx-background-color: white;
}

.button {
    -fx-font-family: "Arial Black";
    -fx-font-size: 50px;
    -fx-base: #004cff;
    -fx-background-radius: 30px;
}

.consolas {
    -fx-font-family: Consolas;
    -fx-text-fill: #ecf0ff;
}

.timer {
    -fx-font-weight: bold;
    -fx-font-size: 55px;
}

.footer {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #507fff, #3454a8);
}

.filename {
    -fx-font-family: Consolas;
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.info-title {
    -fx-font-family: Consolas;
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

.progress-bar {
    -fx-accent: #0036af;
}

.progress-text {
    -fx-font-size: 30px;
}

.timer-box {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #5df2ff, rgba(93, 242, 255, 0));
}

.box {
    -fx-background-radius: 10;
}

.green-box {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff, rgba(77, 162, 178, 0));
}