.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.progress-bar > .track {
    -fx-text-box-border: #004cff;
    -fx-control-inner-background: white;
}

.scroll-pane {
    -fx-background-color: white;
}

.button {
    -fx-font-family: Consolas;
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 30px;
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #507fff, #3454a8);
}

.button-hover {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #355ea6, #383889);
    -fx-text-fill: #c0c0c0;
}

.consolas {
    -fx-font-family: Consolas;
    -fx-text-fill: #ecf0ff;
}

.timer {
    -fx-font-weight: bold;
    -fx-font-size: 55px;
}

.timer .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.footer {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #6ea1ff, #2a4386);
}

.footer-done {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #50ff70, #34a849);
}

.filename {
    -fx-font-family: Consolas;
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.info {
    -fx-font-family: Consolas;
    -fx-text-fill: #1b274e;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.info-title {
    -fx-font-size: 15px;
    -fx-font-none: none;
}


.timer-title {
    -fx-font-family: Consolas;
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

.timer-box {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #5df2ff, rgba(93, 242, 255, 0));
}

.timer-box-done {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #5dffd4, rgba(93, 255, 212, 0));
}

.timer-done .text {
    -fx-fill: #09e200;
    -fx-stroke: black;
    -fxstroke-width: 1px;
}

.timer-done-title .text {
    -fx-stroke-width: 0;
    -fx-fill: #004700;
}

.timer-done-footer {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #30ff00, #167000);
}

.timer-done-box {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #8cff76, rgba(93, 242, 255, 0));
}

.box {
    -fx-background-radius: 10;
}

.white-box {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff, rgba(77, 162, 178, 0));
}